<% include ./header.ejs %>

    <div class="container-flex">
        <h1>Agenda</h1>
        <line style="width: 100%; height: 1px; background-color: #000" />
        <div class="container-flex-line">
            <a href="/agenda" >Contatos</a>
            <a href="/agenda/create" >Cadastrar</a>
        </div>
        <h2>Atividade feita em sala</h2>
    </div>

<% include ./footer.ejs %>