<% include ./header.ejs %>



	<h1>Inserir</h1>


	<form class="container" method="POST" action="/agenda/create">
		<div class="container-flex">
			<div class="form-group">
				<label for="contactName">Nome do contato</label>
				<input required maxlength="30" class="form-control" id="contactName" name="contactName" placeholder="Informe nome do contato" />
			</div>

			<div class="form-group">
				<label for="phone">Telefone</label>
				<input required maxlength="30" class="form-control" id="phone" name="phone" type="tel" placeholder="Informe telefone de contato" />
			</div>

			<div class="form-group">
				<label for="email">E-mail</label>
				<input required maxlength="30" class="form-control" type="email" id="email" name="email" placeholder="informe email" />
			</div>

			<div class="form-group">
				<label for="addressInstalation">Endereço de instalação</label>
				<input required maxlength="80" class="form-control" id="addressInstalation" name="addressInstalation" placeholder="endereço de instalação" />
			</div>

			<div class="form-group">
				<label for="addressPay">Endereço de cobrança</label>
				<input required maxlength="80" class="form-control" id="addressPay" name="addressPay" placeholder="endereço de cobrança" />
			</div>

			<div class="form-group">
				<label for="velocityInstalled">Velocidade instalada</label>
				<input required maxlength="30" class="form-control" id="velocityInstalled" name="velocityInstalled" placeholder="velocidade instalada" />
			</div>

			<div class="form-group">
				<label for="value">Valor do Plano Mensal</label>
				<input required min="0" max="9999" class="form-control" type="number" id="value" name="value" placeholder="valor do plano mensal" />
			</div>

			<button class="btn btn-primary" type="submit">CADASTRAR</button>
		</div>
	</form>
	
<% include ./footer.ejs %>